@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<CRM.WEB.Models.EventDetailView>
@if (Model is not null)
{
    <div class="text-center">
    <table class="table">
        <thead>
            <th><a class="btn btn-success btn-block" asp-controller="Home" asp-action="Add">Добавить</a></th>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
        </thead>
        <tbody>
                @for (int i=0;i<16;i+=2)
                {
                    <tr>
                        <th>@ViewBag.time[i] <br/>@ViewBag.time[i+1]</th>
                        @for (int j = 0; j < 6; j += 1)
                        {
                            <td>
                                @foreach (var item in Model)
                                {
                                    @if (item.eevent.Time == i && item.eevent.Weekday == j)
                                    {
                                        <div class="card bg-secondary">
                                            <div class="text-light" align="left">Предмет: @item.course.Title</div>
                                            <div class="text-light" align="left">Преподаватель: @item.teacher.Name</div>
                                            <div class="text-light" align="left">Аудитория: @item.сlassroom.Number</div>
                                            <div class="text-light" align="left">Группа: @item.gro.Number</div>
                                            <a class="btn btn-primary" asp-controller="Home" asp-action="Add" asp-route-id="@item.eevent.Id">
                                                Изменить
                                            </a>
                                        </div>
                                    }
                                }
                            </td>
                        }
                    </tr>
                }
        </tbody>
    </table>
</div>
}
else
{
    <div>Расписания нет</div>
}